body{
    text-align: center;
    background-color: #eeeedd;
}
.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#ffffff, #e1e1e1);
  border-bottom: 1px solid lightgray;
}


a{
    text-decoration: none;
    color: rgb(63, 62, 62);
}

select{
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  margin: 5px;
  font-weight: 100;
  padding: 0;
  margin-bottom: 12px;
}

.more{
    font-size: 18px;
}

a:hover{
    color: black;
}

h2{
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 20px;
}

h3{
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: -5px;
}

.intro{
    font-size: 18px;
}

.randomImage{
    max-width: 50%;
    max-height: 30%;
}

.petCard{
    max-height: 50%;
    max-width: 50%;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #eeeeee;
    padding-bottom: 15px;
}

img.petImage{
    max-width: 100%;
    max-height: 80%;
    border-radius: 3px;
}

.description{
    text-align: left;
}

.randomCatForm{
    display: block;
}

.wikiPage{
    color: black;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 650;
}

.introImage{
    width: 40%
}

#one{
    border-top-left-radius: 10px;
    margin-bottom: -3px;
}

#two{
    width: 42.6%;
    border-top-right-radius: 10px;
    margin-bottom: -3px;
}

#three{
    width: 43.2%;
    border-bottom-left-radius: 10px;
}

#four{
    border-bottom-right-radius: 10px;
    width: 40%
}